benchmark/Jet_experiments/a-z/a-z.WL1-6.ppn.2-4
benchmark/Jet_experiments/a-z/a-z.WL1-6.ppn.4-4
benchmark/Jet_experiments/a-z/a-z.WL1-6.ppn.8-4
benchmark/Jet_experiments/a-z/a-z.WL1-6.ppn1-1.txt
benchmark/Jet_experiments/a-z/a-z.WL1-6.ppn1-4.txt
benchmark/Jet_experiments/a-z/a-z.WL1-6.ppn1-8.txt
benchmark/Jet_experiments/a-z/a-z.WL1-6.ppn2-8.txt
benchmark/Jet_experiments/a-z/a-z.WL1-6.ppn4-8.txt
benchmark/Jet_experiments/a-z/a-z.WL1-6.ppn8-8.txt
benchmark/Jet_experiments/a-z,A-Z/a-zA-Z.WL1-5.ppn.2-4
benchmark/Jet_experiments/a-z,A-Z/a-zA-Z.WL1-5.ppn.4-4
benchmark/Jet_experiments/a-z,A-Z/a-zA-Z.WL1-5.ppn.8-4
benchmark/Jet_experiments/a-z,A-Z/a-zA-Z.WL1-5.ppn1-1
benchmark/Jet_experiments/a-z,A-Z/a-zA-Z.WL1-5.ppn1-4
benchmark/Jet_experiments/a-z,A-Z/a-zA-Z.WL1-5.ppn1-8
benchmark/Jet_experiments/a-z,A-Z/a-zA-Z.WL1-5.ppn2-8
benchmark/Jet_experiments/a-z,A-Z/a-zA-Z.WL1-5.ppn4-8
benchmark/Jet_experiments/a-z,A-Z/a-zA-Z.WL1-5.ppn8-8
benchmark/Jet_experiments/a-z,A-Z,0-9/a-zA-Z0-9.WL1-5.ppn.2-4
benchmark/Jet_experiments/a-z,A-Z,0-9/a-zA-Z0-9.WL1-5.ppn.4-4
benchmark/Jet_experiments/a-z,A-Z,0-9/a-zA-Z0-9.WL1-5.ppn.8-4
benchmark/Jet_experiments/a-z,A-Z,0-9/a-zA-Z0-9.WL1-5.ppn1-1
benchmark/Jet_experiments/a-z,A-Z,0-9/a-zA-Z0-9.WL1-5.ppn1-4
benchmark/Jet_experiments/a-z,A-Z,0-9/a-zA-Z0-9.WL1-5.ppn1-8
benchmark/Jet_experiments/a-z,A-Z,0-9/a-zA-Z0-9.WL1-5.ppn2-8
benchmark/Jet_experiments/a-z,A-Z,0-9/a-zA-Z0-9.WL1-5.ppn4-8
benchmark/Jet_experiments/a-z,A-Z,0-9/a-zA-Z0-9.WL1-5.ppn8-8
benchmark/Jet_experiments/ab/ab.WL1-20..ppn2-4
benchmark/Jet_experiments/ab/ab.WL1-20..ppn4-4
benchmark/Jet_experiments/ab/ab.WL1-20..ppn8-4
benchmark/Jet_experiments/ab/ab.WL1-20.ppn1-1
benchmark/Jet_experiments/ab/ab.WL1-20.ppn1-2
benchmark/Jet_experiments/ab/ab.WL1-20.ppn1-4
benchmark/Jet_experiments/ab/ab.WL1-20.ppn1-8
benchmark/Jet_experiments/ab/ab.WL1-20.ppn2-8
benchmark/Jet_experiments/ab/ab.WL1-20.ppn4-8
benchmark/Jet_experiments/ab/ab.WL1-20.ppn8-8
benchmark/Новый документ.txt
benchmark/Hash speedup JET.ods
benchmark/Hash speedup Laptop.ods
